body {
  background-color: #f9fafc;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 16px;
}
header {
  font-size: 16px;
  border-left: 5px;
}
ul {
  padding: 0%;
}
li {
  margin-top: 5px;
  margin-bottom: 10px;
  list-style-type: none;
}
a {
  text-decoration: none;
  padding: 0%;
  color: #69696a;
}

p {
  color: #69696a;
}

.button {
  background-color: #000000;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 28px;
  display: block;
}

.verticalLine {
  border-left: thick solid lightgrey;
  padding: 10px;
  margin: 22px 2px;
}
@media only screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;
  }
  h1 {
    margin: 0;
    font-size: 16px;
  }
  li {
    margin-top: 13px;
    margin-right: 15px;
  }

  .verticalLine {
    width: 50%;
  }
  .scroll {
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
  }
  .circles {
    position: relative;
  }
}

.circles {
  position: relative;
}

.one {
  background-color: rgba(247, 136, 167, 0.6);
  height: 200px;
  width: 200px;
  border-radius: 600%;
  opacity: 70%;
  position: absolute;
  right: 200px;
  top: -115px;
  bottom: 40px;
  left: 30px;
}
.two {
  background-color: rgba(247, 193, 162, 0.7);
  height: 150px;
  width: 150px;
  border-radius: 600%;
  opacity: 70%;
  position: absolute;
  right: 60px;
}
.three {
  background-color: rgba(207, 130, 213, 0.6);
  height: 100px;
  width: 100px;
  border-radius: 600%;
  opacity: 70%;
  position: absolute;
  right: 70px;
}
